<footer>
  <div class="footer">

   <%= link_to "Home", home_index_path  %> |
   <%= link_to "Credits", home_credits_path  %> |
   <%= link_to "About", home_about_path %>
   <p>Created by Bayou Binary Bitches for the Master of the Universe.</p>

  </div>
</footer>